<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Run Deployment</title>
</head>
<body>
    <div class="container">
        <div class="hero">
            <div style="text-align:center;">
                <picture>
                    <source srcset="/static/celebration-dark.svg" media="(prefers-color-scheme: dark)">
                    <img src="/static/celebration.svg" alt="A group celebrating" width="427" height="231">
                </picture>
            </div>

            <div class="message" style="text-align:center;">
                <h1>{{ message }}</h1>
                <!-- URL input box -->
                <form action="/" method="POST">
                    <input type="text" name="website_url" placeholder="Enter your website URL here" style="margin-top: 20px; padding: 10px; font-size: 16px;" required>
                    <button type="submit" style="margin-top: 10px; padding: 10px 20px; font-size: 16px;">Submit</button>
                </form>

                {% if product_raw_json %}
                    <div style="margin-top: 20px; font-size: 18px;">
                        <p>Raw JSON From Website:</p>
                        <pre>{{ product_raw_json | tojson(indent=4) }}</pre>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
